{% extends 'layout.html' %}

{% block title %}{{ post.title }} — Хабр{% endblock %}

{% block content %}

<article class="news-detail">

    <h1>{{ post.title }}</h1>
    <p class="news-category">
    Категория: {{ post.get_category_display }}
    </p>
    <p class="news-date">
        {{ post.data }}
    </p>

    <p class="news-anons">
        {{ post.anons }}
    </p>

    <div class="news-text">
        {{ post.full_text }}
    </div>

    <div class="news-detail-actions">

    <a href="{% url 'news-delete' post.pk %}"
       style="
           display: inline-block;
           padding: 10px 20px;
           background-color: #dc3545;
           color: white !important;
           border-radius: 8px;
           text-decoration: none !important;
           font-size: 15px;
           font-weight: 600;
           margin-right: 10px;
       ">
        Удалить
    </a>

    <a href="{% url 'news-update' post.pk %}"
       style="
           display: inline-block;
           padding: 10px 20px;
           background-color: #1976d2;
           color: white !important;
           border-radius: 8px;
           text-decoration: none !important;
           font-size: 15px;
           font-weight: 600;
       ">
        Редактировать
    </a>
    <a href="{% url 'news' %}" style="
       display: inline-block;
       margin-top: 25px;
       padding: 10px 20px;
       background-color: #607d8b;
       color: white;
       border-radius: 8px;
       text-decoration: none;
       font-size: 15px;
       font-weight: 600;
        ">
        ← Назад к новостям
    </a>
</div>

</article>

{% endblock %}