{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Хабр{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'main/css/main.css' %}?v=3">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

<header>
    <a href="{% url 'index' %}" class="logo">Хабр</a>

    <div class="nav-links">
        <a href="{% url 'index' %}">Главная</a>

        {% if user.is_authenticated %}
            <span>Привет, {{ user.username }}!</span>
            <a href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <a href="{% url 'login' %}">Войти</a>
            <a href="{% url 'register' %}">Регистрация</a>
        {% endif %}
    </div>
</header>

<div class="page">

    <aside>
        <h3>Навигация</h3>

        <ul>

            <li>
                <a href="{% url 'index' %}">
                    <i class="fa-solid fa-house"></i>
                    Главная
                </a>
            </li>

            <li>
                <a href="{% url 'categories' %}">
                    <i class="fa-solid fa-layer-group"></i>
                    Категории
                </a>
            </li>
            <li>
                <a href="{% url 'authors' %}">
                    <i class="fa-solid fa-user-pen"></i>
                    Авторы
                </a>
            </li>
            <li>
                <a href="{% url 'favorites' %}">
                    <i class="fa-solid fa-star"></i>
                    Избранное
                </a>
            </li>

            <li>
                <a href="{% url 'news' %}">
                    <i class="fa-solid fa-newspaper"></i>
                    Новости
                </a>
            </li>
            {% if user.is_superuser %}

                <li>
                    <a href="{% url 'moderation' %}">
                        <i class="fa-solid fa-check"></i>
                        Модерация
                    </a>
                </li>

            {% else %}

                {% for group in user.groups.all %}
                    {% if group.name == "Admin" %}
                        <li>
                            <a href="{% url 'moderation' %}">
                                <i class="fa-solid fa-check"></i>
                                Модерация
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}

            {% endif %}
            {% if user.is_superuser %}
                <li>
                    <a href="{% url 'users-management' %}">
                        <i class="fa-solid fa-users"></i>
                        Пользователи
                    </a>
                </li>
            {% else %}
                {% for group in user.groups.all %}
                    {% if group.name == "Admin" %}
                        <li>
                            <a href="{% url 'users-management' %}">
                                <i class="fa-solid fa-users"></i>
                                Пользователи
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <li>
                <a href="{% url 'create' %}" class="add-post-btn">
                    <i class="fas fa-plus-circle"></i>
                    Добавить запись
                </a>
            </li>

        </ul>
    </aside>

    <main class="main-content">

        {% block content %}
        {% endblock %}

    </main>

</div>

</body>
</html>